<div class="container" *ngIf="profile">
  <mat-card class="parent-card" [@homeTransition]="profile">
    <div class="row">
      <div class="column">
        <mat-card class="column-card">
          <img mat-card-image src="{{profile.photothumbnailurl}}" alt="Photo"> <!-- style="width:100%;height:275px;" -->
          <!-- <mat-card-actions>
            <button mat-raised-button color="accent">VERIFY</button>
          </mat-card-actions> -->
        </mat-card>
      </div>
      <div class="column">
        <mat-card class="column-card">
          <mat-card-header>
            <div mat-card-avatar><mat-icon aria-label="EMPLOYEE NAME">person</mat-icon></div>
            <mat-card-title>EMPLOYEE NAME</mat-card-title>
          </mat-card-header>
          <br>
          <div class="row">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="First name" readonly [(ngModel)]="profile.name.first" style="width:100%;font-weight:bold;font-size:large;color: #424242;">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Middle name" readonly [(ngModel)]="profile.name.middle" style="width:100%;font-weight:bold;font-size:large;color: #424242;">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Family name" readonly [(ngModel)]="profile.name.last" style="width:100%;font-weight:bold;font-size:large;color: #424242;">
            </mat-form-field>
          </div>
        </mat-card>
      </div>
      <div class="column">
        <mat-card class="column-card">
          <mat-card-header>
            <div mat-card-avatar><mat-icon aria-label="ACCESS RESTRICTION">verified_user</mat-icon></div>
            <mat-card-title>ACCESS RESTRICTION</mat-card-title>
          </mat-card-header>
          <br>
          <div class="row">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Distinction" readonly [(ngModel)]="profile.distinction" style="width:100%;font-weight:bold;font-size:large;color: #424242;">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Access Level" readonly [(ngModel)]="profile.personaccesslevel" style="width:100%;font-weight:bold;font-size:large;color: #424242;">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Status" readonly [(ngModel)]="profile.recordstatus" style="width:100%;font-weight:bold;font-size:large;color: #424242;">
            </mat-form-field>
          </div>
        </mat-card>
      </div>
      <div class="column">
        <mat-card class="column-card">
          <mat-card-header>
            <div mat-card-avatar><mat-icon aria-label="DESIGNATION AND OFFICE">location_city</mat-icon></div>
            <mat-card-title>DESIGNATION AND OFFICE</mat-card-title>
          </mat-card-header>
          <br>
          <div class="row">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Employee ID" readonly [(ngModel)]="profile.profileid" style="width:100%;font-weight:bold;font-size:large;color: #424242;">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Designation" readonly [(ngModel)]="profile.employee.position" style="width:100%;font-weight:bold;font-size:large;color: #424242;">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Office" readonly [(ngModel)]="profile.employee.office" style="width:100%;font-weight:bold;font-size:large;color: #424242;">
            </mat-form-field>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-card>
</div>

<!-- <div class="container" *ngIf="profile">
  <mat-card [@flyInOut]="profile">
    <div class="row">
      <div class="columnparent1">
        <div class="columnimage">
          <img src="{{profile.photothumbnailurl}}" alt="Photo" style="width:100%;height:275px;" >
        </div>
      </div>
      <div class="columnparent2">
        <div class="row">
          <div class="column">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="First name" readonly [(ngModel)]="profile.name.first" style="width:100%;font-weight:bold;font-size:large;color: #424242;">
            </mat-form-field>
          </div>
          <div class="column">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Middle name" readonly [(ngModel)]="profile.name.middle" style="width:100%;font-weight:bold;font-size:large;color: #424242;">
            </mat-form-field>
          </div>
          <div class="column">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Family name" readonly [(ngModel)]="profile.name.last" style="width:100%;font-weight:bold;font-size:large;color: #424242;">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Distinction" readonly [(ngModel)]="profile.distinction" style="width:100%;font-weight:bold;font-size:large;color: #424242;">
            </mat-form-field>
          </div>
          <div class="column">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Access Level" readonly [(ngModel)]="profile.personaccesslevel" style="width:100%;font-weight:bold;font-size:large;color: #424242;">
            </mat-form-field>
          </div>
          <div class="column">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Status" readonly [(ngModel)]="profile.recordstatus" style="width:100%;font-weight:bold;font-size:large;color: #424242;">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Employee ID" readonly [(ngModel)]="profile.profileid" style="width:100%;font-weight:bold;font-size:large;color: #424242;">
            </mat-form-field>
          </div>
          <div class="column">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Designation" readonly [(ngModel)]="profile.employee.position" style="width:100%;font-weight:bold;font-size:large;color: #424242;">
            </mat-form-field>
          </div>
          <div class="column">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Office" readonly [(ngModel)]="profile.employee.office" style="width:100%;font-weight:bold;font-size:large;color: #424242;">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div> -->

    <!-- <h2>{{ profile.name.first | uppercase }} Details</h2> -->
    <!-- <button (click)="save()">save</button>     -->
