/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.container {
  height: 300px;
  background-color: #E8EAF6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 1rem 1rem 1rem;
  font-size: large;
}

mat-card {
  max-width: 95%;
  margin: 0 auto 1rem auto;
}

.row {
  display: flex;
}

.column {
  flex: 100%;
  padding: 5px;
}